{% extends 'layout.html.twig' %}
{% block content %}
<main class="container mt-5">
    <section>
      <div class="row">
        <div class="col-xl-2 col-lg-2"></div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mb-3 mt-3 bg-card text-white">
          <h2 class=" mb-3 mt- text-center">This is the options pannel</h2>
        </div>
        <div class="col-xl-2 col-lg-2"></div>
      </div>
    </section>
    <section class="row card-container mb-2">
      <article class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
        <div class="card rounded">
          <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <a href="/twig/listUser" >USUARIOS</a>
          </div>
        </div>
      </article>
      <article class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="card rounded">
          <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <a href="{{path('app_Post')}}" >PUBLICACIONES</a>
          </div>
        </div>
      </article>
      <article class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="card rounded">
          <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <a href="{{path('app_Messages')}}" >COMENTARIOS</a>
          </div>
        </div>
      </article>
      <article class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="card rounded">
          <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <a href="{{path('app_Events')}}" >Events</a>
          </div>
        </div>
      </article>
      {#
      For the future
      <article class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="card rounded">
          <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <a href="" >ESTADISTICAS</a>
          </div>
        </div>
      </article>
       #}
    </section>
  </main>
{% endblock %}

