{% extends 'layout.html.twig' %}
{% block content %}
    <h1>Seguidores de {{ targetUser.getName() }}</h1>
    <ul>
        {% for follower in followers %}
            <li>{{ follower.getName() }}</li>
        {% endfor %}
    </ul>
{% endblock %}