{% extends "layout.html.twig" %}

{% block content %}
    <section class="container mb-5 mt-5" style="background-color: grey">
		<a class="btn btn-primary" href="/twig/listUser">Back ⇦</a>
			<article class=" mb-5 mt-5 " style="background-color: white; heigth: 50px">
                <h1>Usuarios seguidos por {{ user.name }}</h1>

{% if follows|length == 0 %}
    <p>No sigue a ningún usuario.</p>
{% else %}
    <ul>
        {% for follow in follows %}
            <li>{{ follow.followed.username }}</li>
        {% endfor %}
    </ul>
{% endif %}
 
    </ul>
    </article>
	</section>
{% endblock %}