{% extends "layout.html.twig" %}
{% block content %}
    {% if not user.id == app.user.id %}
    {% if app.user|isFollowing(user) %}
        <a href="{{ path('unfollow', {'id': user.id}) }}" class="btn btn-secondary">Dejar de seguir</a>
    {% else %}
        <a href="{{ path('follow', {'id': user.id}) }}" class="btn btn-primary">Seguir</a>
    {% endif %}
{% endif %}
{% endblock %}