{% extends 'layout.html.twig' %}


{% block content %}
    <section class="container mb-5 mt-5" style="background-color: grey">
				<a class="btn btn-primary" href="/twig/listUser">Back ⇦</a>
				<article class=" mb-5 mt-5" style="background-color: white; heigth: 50px">
    <h1>Seguidores de {{ user.name }}</h1>
    <ul>
         {% if follows is empty %}
    <p>No hay seguidores para este usuario.</p>
{% else %}
    <ul>
        {% for follow in follows %}
            <li>{{ follow.following.name }}</li>
        {% endfor %}
    </ul>
{% endif %}
    </ul>
				</article>
	</section>
{% endblock %}