<div class="container">
  <div class="row">
    <div class="col-12">
      
      <form action="http://localhost:8000/api/insert/post" (submit)="onSubmit()">
        <h1>Make a new publish</h1>
        <label class="form-label">Fecha de publicacion:</label>
        <input type="date" name="created_at" [(ngModel)]="newPost.created_at" class="form-control mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" [(ngModel)]="newPost.title" placeholder="Title" name="title" class="form-control mb-3">

        <label class="form-label">Descripcion</label>
        <input type="text" [(ngModel)]="newPost.text" placeholder="Text" name="text" class="form-control mb-3">

        <label class="form-label">Image</label>
        <input type="file" [(ngModel)]="newPost.image" placeholder="Image URL" name="image" class="form-control mb-3">

        <label class="form-label">User ID</label>
        <input type="text" [(ngModel)]="newPost.user" placeholder="User ID" name="user" class="form-control mb-3">

        <label class="form-label">Likes</label>
        <input type="number" name="likes" [(ngModel)]="newPost.likes" class="form-control mb-3">

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>
</div>