<main class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12 section1 text-center text-uppercase mx-2">
            <h2 class="text-uppercase">profile and other </h2>
            <div class="message">
                <p>Hola, todo bien por aquí?</p>
            </div>
                <li class="mt-2">
                    <a >numero 1</a>
                    <a href="">numero2</a>
                </li>
                <li>
                    <a >numero 1</a>
                    <a href="">numero2</a>
                </li>
                <li>
                    <a >numero 1</a>
                    <a href="">numero2</a>
                </li>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-8 col-sm-12 col-12 section2 text-center text-uppercase mx-2">
            <div>
                <h2>Columna 2</h2>
                <form action="">
                    <input type="text" class="form-control " placeholder="Type here a comment">
                    <button type="submit" class="btn btn-primary">send</button>
                </form>
            </div>
        <div class="row mt-5">
            <div style="width: 100%; height: 30px; background-color: white;"></div>
            <div class="col-12 section4 mx-auto">
                <a href="" class="ml-4">Popular |</a>
                <a href="" class="ml-4">Most liked |</a>
                <a href="" class="ml-4">Popular</a>
           
            <div class="mt-2">
                <h3>title</h3>
                <img src="" alt="image">
            </div> 
        </div>
        </div>

        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 section3 text-center text-uppercase mx-2">
            <h2>Eventos</h2>
            <div>
                <img src="" alt="Image_event_example">
                <p>Hola</p>
            </div>
        </div>
    </div>
    
</main>