<main class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12 section1 text-center text-uppercase mx-2 vh-100">
            <h2>User Zone</h2>
            <li>
                <a [routerLink]="['profile']">Profile</a>
            </li>
            <li>
                <a [routerLink]="['setting']">Settings</a>
            </li>
            <li>
                <a [routerLink]="['newpost']">Publish</a>
            </li>
            <li>
                <a [routerLink]="['message']">Message</a>
            </li>
            
        </div>
        <div class="col-xl-5 col-lg-5 col-md-8 col-sm-12 col-12 section2 text-center text-uppercase mx-2 vh-100">
            <app-posts [ngClass]="['mt-5 mb-5']"></app-posts>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 section3 text-center text-uppercase mx-2 vh-100">
            <app-events></app-events>
        </div>
    </div>

</main>