{% extends 'layout.html.twig' %}

{% block content %}
	<section class="container">	
	
	<a class="btn btn-primary" href="/twig/listUser/">⇦</a>
		<h2>Actualizar usuario {{user.getName()}}</h2>
			<form method="post" action="" class="row">
				<div  class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
					<label for="email" class="form-label">Email del usuario
						<input name="email" type="text" class="form-control" value="{{user.getEmail()}}"/>
					</label>
				</div>
				<div  class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
					<label for="name" class="form-label">Nombre del usuario 
						<input name="name" type="text" class="form-control" value="{{user.getName()}}"/>
					</label>
				</div>
				
				<div  class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
					<label for="roles" class="form-label">Rol del usuario
					<select class="form-select" aria-label="Default select example" name="roles">
						<option value='["USER"]' {% if user.getRoles()[0] == "USER" %} selected {% endif %} >Usuario</option>
						<option value='["ADMIN"]'{% if user.getRoles()[0] == "ADMIN" %} selected {% endif %}>Administrador</option>
					</select>
					</label>
				</div>
				
				<div  class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
					<label for="phone" class="form-label">Telefono del usuario
						<input name="phone" type="text" class="form-control" value="{{user.getPhone()}}"/>
					</label>
				</div>

				<div class="col-xl-5 col-lg-5 col-md-6 col-sm-8">
					<input type="submit" class="btn btn-primary mb-3 col-lg-3" name="submit" value="Actualizar usuario"/>
				</div>
		</form>
	</section>
{% endblock %}
