{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Eliminar cuenta</h1>

    <p>¿Estás seguro de que quieres eliminar tu cuenta? Esta acción no se puede deshacer.</p>

    {{ form_start(form) }}
        <button type="submit" class="btn btn-danger">Eliminar mi cuenta</button>
    {{ form_end(form) }}
{% endblock %}