{% extends "base.html.twig" %}
{% block layout %}
<header>
    <nav class="navbar navbar-expand-lg bg-header">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('images/logos/logo_corporativo_greyscale.png') }}" class="img-header" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mx-auto">
                <li class="navbar-item">
                    <a class="nav-link text-white" href="{{ path('app_kurigram') }}">Inicio<br><i class="fa fa-home"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-center" href="{{ path('app_profile') }}">Perfil<br><i class="fa fa-user"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-center" href="{{ path('app_logout') }}">Cerrar sesión<br><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="jumbotron jumbotron-fluid mt-3 mb-3">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="div-text-jumbo text-center text-white">
            <h1 class="my-3 textoseparado text-uppercase">La mejor red social, con la mejor experiencia y comunidad</h1>
            <h4 class="my-3 text-uppercase">Empieza a compartir y consumir contenido</h4>
        </div>
    </div>
</div>
{% block content %}{% endblock %}
{# Footer can be added here if needed #}
{% endblock %}
