{% extends 'layout.html.twig' %}
{% block content %}
     <main class="container mt-5">
    <section>
      <div class="row">
        <div class="col-xl-2 col-lg-2"></div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mb-3 mt-3 bg-card text-white" >
          <h2 class=" mb-3 mt- text-center">Elige la compañía que quieres administrar</h2>
        </div>
        <div class="col-xl-2 col-lg-2"></div>
      </div>
    </section>
    <section class="row card-container mb-2">
      <article class="card col-xl-5 col-lg-5 col-md-10 col-sm-12 col-xs-12 align-items-center mb-3"
        style="widht: 200px; height: 280px;">
        <img src="../../../img_streamcube/logos/logo_Scube.png" alt="Logo Streamcube" class="imgCard mt-2">
        <div class="card-text">
          <hr>
          <a class="text-center text-uppercase mt-5" href="{{path('app_streamcube')}}">
            Streamcube
          </a>
        </div>
      </article>
      <article class="card rounded-5 col-xl-5 col-lg-5 col-md-10 col-sm-12 col-xs-12 align-items-center mb-3"
        style="widht: 200px; height: 280px;">
        <img src="../../../images/jumbotron/logo_kurigram_color.png" alt="Logo Kurigram" class="imgCard2 mt-2">
        <div class="card-text">
          <hr>
          <a class="text-center text-uppercase mt-5 " href="{{path ('app_kurigram')}}">
            Kurigram
          </a>
        </div>

      </article>
    </section>
  </main>
{% endblock %}