{% extends 'layout.html.twig' %}
{% block content %}

<section class="container">
    <a class="btn btn-primary" href="{{path('app_Post')}}">Atrás ⇦</a>
    <h1 class="text-uppercase">Nuevo Post : </h1>      
    <form method="post" action="{{path('app_insert_posts')}}" class="row" enctype="multipart/form-data">
        <div  class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
            <label class="form-label" for="name"> Created at: 
                <input class="form-control" name="created_at" type="date" value="" required>
            </label>
        </div>

        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
            <label class="form-label">text: 
                <input type="text" class="form-control" name="text" value="" required>
            </label>
        </div>

        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
            <label class="form-label" for="place"> Localización: 
                <input class="form-control" name="place" type="text" value="">
            </label>
        </div>

        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
            <label for="imagen"> Imagen: 
                <input type="file" name="image">
            </label>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-8 mt-3 mb-3">
            <button type="submit" class="btn btn-primary mb-3 col-lg-3">Crear</button>
        </div>
    </form>
</section>

{% endblock %}