{% extends 'layout.html.twig' %}

{% block content %}

<a class="btn btn-primary" href="{{ path('app_insert_posts') }}">Crear nuevo post</a>

{% if not posts %}
  <h3>No hay ningún post disponible</h3>
{% else %}
  {% for post in posts %}
    <div class="card card-rounded" style="width: 400px; height: 300px; border: 2px solid black">
      {% if post.file %}
        <img src="{{ asset('uploads/' ~ post.file) }}" style="witdh: 300px; height: 200px" alt="Imagen del post">
      {% endif %}
      <h2>{{ post.title }}</h2>
      <p>{{ post.text }}</p>
    </div>
  {% endfor %}
{% endif %}

{% endblock %}