
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-black">
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
            <form (ngSubmit)="onRegistry()">
              <h2> Disfruta de la mejor red social del mundo</h2>
              <hr>
              <div class="form-outline pt-1 mt-3 mb-3">
                <label class="form-label">Correo Electrónico</label>
                <input type="email" name="email" [(ngModel)]="email" class="form-control" required />
              </div>
              <div class="form-outline pt-1 mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" name="name" [(ngModel)]="name" class="form-control" required />
              </div>
              <div class="form-outline pt-1 mb-3">
                <label class="form-label">Telefono</label>
                <input type="tel" name="phone" [(ngModel)]="phone" class="form-control" required />
              </div>
              <div class="form-outline pt-1 mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" name="password" [(ngModel)]="password" class="form-control" required />
              </div>
              <div class="form-outline pt-1 mb-3">
                <label class="form-label">Confirmar Contraseña</label>
                <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control"
                  required />
              </div>
              <div class="pt-1 mb-3">
                <button class="btn btn-info btn-lg btn-block" type="submit" >Registrarse</button>
              </div>
              <p>No tienes cuenta? <a [routerLink]="['/login']" class="link-info">Inicia sesión aquí</a></p>
            </form>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-md-block">
          <div class="right w-100 vh-100"></div>
        </div>
      </div>
    </div>