<header>
  <nav class="navbar navbar-expand-lg bg-header">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/logos/logo_corporativo_greyscale.png" class="img-header" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav nav-pills mx-auto">
        <li class="nav-item">
          <a class="nav-link text-white ms-3 mb-3 mt-3" [routerLink]="['/home']">Inicio
            <i class="fas fa-house-user" style="color: #e9eaed;"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white ms-3 mb-3 mt-3" [routerLink]="['/gente']">
            <i class="fas fa-users"></i> Gente
          </a>
        </li>

        
        <li *ngIf="!isUserAuthenticated" class="nav-item">
          <a class="nav-link text-white ms-3 mb-3 mt-3" routerLink="/login">Iniciar sesión</a>
        </li>
        <li *ngIf="!isUserAuthenticated" class="nav-item">
          <a class="nav-link text-white ms-3 mb-3 mt-3" routerLink="/signup">Registrarse</a>
        </li>
        <li *ngIf="isUserAuthenticated" class="nav-item">
          <a class="nav-link text-white ms-3 mb-3 mt-3" href="#">¡Hola, {{ currentUser.name }}!</a>
        </li>
        <li *ngIf="isUserAuthenticated" class="nav-item">
          <a class="nav-link text-white ms-3 mb-3 mt-3" (click)="logout()">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </nav>
</header>