<header>
    <nav class="navbar navbar-expand-lg bg-header">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/logos/logo_corporativo_greyscale.png" class="img-header" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav nav-pills mx-auto ">
                <div>
                    <li class="navbar-item">
                        <a class="nav-link text-white active" [routerLink]="['home']">Inicio</a>
                    </li>
                </div>
                <div >
                    <li class="navbar-item">
                        <a class="nav-link text-white active" [routerLink]="['gente']">Gente</a>
                    </li>
                </div>
                
                <div >
                    <li class="nav-item">
                        <a class="nav-link text-white active" [routerLink]="['profile']">Mi perfil</a>
                    </li>
                </div>
                 <div>
                    <li class="nav-item  ms-3 mb-3 mt-3">
                        <a class="nav-link text-white active"  [routerLink]="['signin']">Login</a>
                    </li>
                </div>
                <div>
                    <li class="nav-item  ms-3 mb-3 mt-3">
                        <a class="nav-link text-white active"  [routerLink]="['logeo']">Login</a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
</header>