{% extends 'layout.html.twig' %}
{% block content %}
    <main class="container">
        <section>
            <div class="row">
                <div class="col-xl-2 col-lg-2"></div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mb-3 mt-3 bg-card">
                    <h2 class=" mb-3 mt- text-center">Que puedes encontrar aqui?</h2>
                </div>
                <div class="col-xl-2 col-lg-2"></div>
            </div>
        </section>
        <section class="row card-container">
            <!--Tarjetas-->
            <article class="card col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 align-items-center  imgCards">
                <h5 class="card-title">
                    Eventos
                </h5>
                <img src="./../img/img-cards/events.png" alt="Hollywood Sign on The Hill" />
                <div class="card-body">
                    <p class="card-text">
                        Tu puedes recibir informacion de eventos clicando aqui
                    </p>
                </div>
            </article>
            <article class="card col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 align-items-center imgCards">
                <h5 class="card-title">
                    Seguidores
                </h5>
                <img src="./../img/img-cards/followers.png" class="card-img-top" alt="Palm Springs Road" />
                <div class="card-body">
                    <p class="card-text">Tu puedes recibir informacion de seguidores clicando aqui
                    </p>
                </div>
            </article>
            <article class="card col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 align-items-center  imgCards">
                <h5 class="card-title">
                    Juegos
                </h5>
                <img src="./../img/img-cards/games.png" class="card-img-top" alt="Palm Springs Road" />
                <div class="card-body">
                    <p class="card-text">Tu puedes recibir informacion de juegos clicando aqui
                    </p>
                </div>
            </article>

            <article class="card col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 align-items-center  imgCards">
                <h5 class="card-title">
                    Noticias
                </h5>
                <img src="./../img/img-cards/news.png" class="card-img-top" alt="Los Angeles Skyscrapers" />
                <div class="card-body">
                    <p class="card-text">
                        Tu puedes recibir informacion de noticias clicando aqui
                    </p>
                </div>

            </article>
            <article class="card col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 align-items-center  imgCards">
                <h5 class="card-title">
                    Retransmisi칩n
                </h5>
                <img src="./../img/img-cards/streaming.png" class="card-img-top" alt="Los Angeles Skyscrapers" />
                <div class="card-body">
                    <p class="card-text">
                        Tu puedes recibir informacion de seguidores retransmisi칩n aqui
                    </p>
                </div>

            </article>
            <article class="card col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 align-items-center  imgCards">
                <h5 class="card-title">
                    M치s y mejor
                </h5>
                <img src="./../img/img-cards/more.png" class="card-img-top" alt="Los Angeles Skyscrapers" />
                <div class="card-body">
                    <p class="card-text">
                        Tu puedes recibir informacion de m치s cosas clicando aqui 
                    </p>
                </div>

            </article>
        </section>
    </main>
{% endblock %}