{% extends  "base.html.twig" %}
{% block layout %}
<header>
        <!--Menu de navegación-->
        <nav class="navbar navbar-expand-md navbar-bg-scube justify-content-between align-items-center">
            <!--Icono de la Web-->
            <a class="navbar-brand" href="#">
                <img src="./../img/logos/logo_Scube.png" class="img-logo-header " alt="Logo de la web StreamCube">
            </a>
            <!--Boton de colapsado para menu hamburguesa, a partir de md-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--div contenedor del collapsado-->
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav mx-auto">
                    <hr>
                    <li class="navbar-item">
                        <a class="nav-link active pr-3" href="./indexEnglish.html">
                            <img src="./../img/english.png" alt="Opción de cambio de idioma a inglés, de Inglaterra">
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link active pr-3" href="./index.html">
                            <img src="./../img/lengua-espanola.png"
                                alt="Imagen de cambio de idioma a español, de España">
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link active pr-3" >
                            <img src="./../img/iconos-navbar/en_directo.png"
                                alt="Imagen de inciar un directo en la aplicación web">
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link active pr-3" >
                            <img src="./../img/album.png" alt="imagen para ver tu lista">
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link active pr-3" >
                            <img src="./../img/ringing.png" alt="imagen de notificaciones">
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link active pr-3" >
                            <img src="./../img/iconos-navbar/en_directo.png" alt="Imagen inciar sesion en directo">
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link active pr-3" href="./index.html">
                            <img src="./../img/brightness.png" alt="Imagen poner el modo día">
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link active pr-3" href="./indexOscuro.html">
                            <img src="./../img/night-mode.png" alt="Imagen poner modo noche">
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link active pr-3 dropdown">
                            <img src="./../img/account.png" alt="Imagen del perfil">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid" ;>
            <div class="jumbotron jumbotron-fluid" ;>
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="div-opaco text-white text-center">
                        <h1 class="my-3  textoseparado">La mejor aplicación de streaming Web</h1>
                        <h4 class="my-3 ">Empieza a compartir y consumir contenido</h4>
                        <a class="btn btn-outline-light btn-lg mb-3 mt-3 textoseparado"
                            href="./forms_html/SignIn.html" role="button">Ven con nosotros</a>
                        <a class="btn btn-outline-light btn-lg mb-3 mt-3 textoseparado"
                            href="./forms_html/logIn.html" role="button">Bienvenido de nuevo</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
 {% block content %}{% endblock %}
<footer>
        <div class="container-fluid">
                <div class="container text-center text-md-start ">
                    <div class="row ">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center  mb-5 mt-5">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold"> Nombre de la comañia</h6>
                            <hr />

                            <p><a href="#"><img src="./../img/logos/logo_Scube.png" class="im-footer" alt="Imagen logo corporativo"></a>
                            </p>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center  mb-5 mt-5">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">Nuestra Actividad</h6>
                            <hr />
                            <p> <a> Scube@streamcube.com</a></p>
                            <p><a> +34 653 82 94 02</a></p>
                            <p><a> @Scube facebook and Instagram </a></p>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center  mb-5 mt-5">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">otros servicios</h6>
                            <hr />
                            <p>
                                <a href="./About/TerminosyCondiciones.html" class="text-white">Terminos y Condiciones</a>
                            </p>
                            <p>
                                <a href="./About/PoliticaDePrivacidad.html" class="text-white">Politica de
                                    Privacidad</a>
                            </p>
                            <p>
                                <a href="./About/QuienesSomos.html" class="text-white">Quienes somos</a>
                            </p>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center  mb-5 mt-5">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">another services</h6>
                            <hr />
                            <iframe class="text-center"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12373.086995368738!2d-0.25211245000000004!3d39.1685425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd61c891e7b680f3%3A0x7966a4339d6a26c4!2sCullera%2C%20Valencia!5e0!3m2!1ses!2ses!4v1672270607267!5m2!1ses!2ses"
                                width="120" height="120" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center text-white" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright: Raul Sales by StreamCube
        </div>
    </footer>
{% endblock %}