<div class="container mt-5">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngFor="let user of users" style="background-color: gray;">
      <div style="background-color: white; padding: 10px; margin-bottom: 10px;">
        <h1>{{ user.name }}</h1>
        <div>
          <button (click)="followUser(user.id)" class="btn btn-primary">Seguir</button>
          <button (click)="unfollowUser(user.id)" class="btn btn-danger">Dejar de seguir</button>
        </div>
      </div>
    </div>
  </div>
</div>