<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-black">
        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
          <form class="form-login" (ngSubmit)="login()">
            <h2>We are excited to have to you here</h2>
            <hr>
            <div class="form-outline pt-1 mt-5 mb-5">
              <label class="form-label">Email address </label>
              <input type="email" class="form-control form-control-lg" name="email" [(ngModel)]="email" />
            </div>
            <div class="form-outline pt-1 mb-5">
              <label class="form-label">Password </label>
              <input type="password" class="form-control form-control-lg" name="password" [(ngModel)]="password" />
            </div>
            <div class="pt-1 mb-5">
              <button class="btn btn-info btn-lg btn-block" type="submit">Login</button>
            </div>
            <p>Don't have an account? <a [routerLink]="['/signin']" class="link-info">Register here</a></p>
          </form>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 px-0 d-none d-sm-block">
        <div class="right w-100 vh-100"></div>
      </div>
    </div>
  </div>
</section>