:root{
   
}

h1{

}

main{
    margin-top: 50px;
}

body{
    background-color:  #E6E6E6;
}

.section1{
    background-color: red
}
.section2{
    background-color: blue
}
.section3{
    background-color: yellow
}