.card-header {
    background-color: #007bff;
    color: #fff;
  }
  
  .card-body {
    min-height: 300px;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #007bff;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0062cc;
    border-color: #0062cc;
  }
  
  .btn-primary:focus {
    box-shadow: none;
    border-color: #007bff;
  }